body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black!important;
  text-decoration: none!important;
}

footer {margin-top: 30px;
  text-align: center;
}

footer p {
  font-size: 0.5em;
  margin: 0;
}

.navbar {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 15px 10px!important;
}

#card-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#card-container > div {
  width: 100%;
}

.card {
  cursor: pointer;
  margin: 10px 0;
  width: 250px;
  padding: 20px 10px;
}

.navbar-brand {
  margin-top: 2px;
}

.org-card {
  width: 300px;
}

.card-img {
  margin: 0 auto;
  width: 100px!important;
  height: 100px;
  object-fit: contain;
}

.card-title {
  font-weight: bold;
}

.card-body {
  flex: 1;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h1 {
  margin-bottom: 0.1em;
  font-size: 1.3em;
}

.card h2 {
  color: #555555;
  font-size: 1em;
}

#disaster-details {
  margin-top: 30px;
}

#disaster-details section {
  margin-top: 20px;
}

#organization-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  margin-top: 30px;
}

.pagination li {
  margin: 0 2px;
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.pagination a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.active {
  background-color: #101830;
  border: 1px solid #101830!important;
}

.active a {
  color: white!important;
}

#projectLogo {
  width: 30px;
  margin-right: .2em;
}

.containerText {
  margin-top: 3vw;
}

.containerText h1 {
  font-size: 1.8em;
}
.containerText p {
  font-size: 1.3em;
}

.img-container {
  display: flex;
  margin-right: 5vw;
  margin-left: 13vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.map-img {
  width: 100%;
  height: auto;
}

.donation-webpage {
  width: 100%;
  height: auto;
}

.rsm-svg {
  width: 600px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list-container {
  width: 100%;
}

.org-card:hover {
  box-shadow: 0px 1px 1px gray;
}

@media only screen and (max-width: 700px) {
  .rsm-svg {
    width: 400px;
  }

  #card-container {
    justify-content: center;
  }

  #organization-list {
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .rsm-svg {
    width: 300px;
  }

  #card-container {
    justify-content: center;
  }

  #organization-list {
    justify-content: center;
  }
}
.dropContainer {
  margin-top: 2rem;
}
